<div class="background-theme">
  <div>
      <div class="text">
          Select the color you would like to display
      </div>
      <input (colorPickerChange)="color=$event" class="input-solid-color" [style.background]="color" [cpAlphaChannel]="'always'" [cpOutputFormat]="'rgba'" [cpPresetColors]="['#fff', '#2889e9']" [cpOKButton]="true"
          [cpAddColorButton]="true" [(colorPicker)]="color" />
      <button class="button" (click)="setColor()">Set</button>
  </div>
  <div class="row center">
      <button class="button col-3">randomizer</button>
      <button class="button col-3">strobe</button>
      <button class="button col-3">pulse</button>
  </div>
</div>